
<h1>All Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Published Date</th>
      <th>Categories</th>
      <th>Countries</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author.name %></td>
        <td><%= article.publisher.name %></td>
        <td><%= article.published_date.strftime("%Y-%m-%d") %></td>
        <td><%= article.categories.pluck(:name).join(", ") %></td>
        <td><%= article.countries.pluck(:name).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>