<% @articles.each do |article| %>
  <h1><%= article.title %></h1>
  <p><strong>Author:</strong> <%= link_to article.author.name, author_path(article.author) %></p>
  <p><strong>Publisher:</strong> <%= article.publisher.name %></p>
  <p><strong>Published Date:</strong> <%= article.published_date.strftime("%Y-%m-%d") %></p>
  <p><strong>Description:</strong> <%= article.description %></p>
  <p><strong>Categories:</strong> <%= article.categories.pluck(:name).join(", ") %></p>
  <p><strong>Countries:</strong> <%= article.countries.pluck(:name).join(", ") %></p>
<% end %>

<%= link_to 'Back to Authors', root_path %>
